<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- domain(VO) package -->
	<typeAliases>

		<typeAlias type="com.spring.app.member.domain.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.spring.app.board.domain.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.spring.app.alarm.domain.AlarmVO" alias="AlarmVO"/>
		<!--<typeAlias type="com.spring.app.board.domain.CommentVO" alias="CommentVO"/>-->

		<typeAlias type="com.spring.app.reaction.domain.ReactionVO" alias="ReactionVO"/>
		<typeAlias type="com.spring.app.file.domain.FileVO" alias="FileVO"/>
		<typeAlias type="com.spring.app.comment.domain.CommentVO" alias="CommentVO"/>
		
		
		
		
		<typeAlias type="com.spring.app.member.domain.MemberCareerVO" alias="MemberCareerVO"/>
		<typeAlias type="com.spring.app.member.domain.MemberEducationVO" alias="MemberEducationVO"/>
		<typeAlias type="com.spring.app.member.domain.MemberSkillVO" alias="MemberSkillVO"/>
		
		<!-- 추가된 FollowEntity 즉, FollowVO 대신 Entity를 사용함. -->
		<typeAlias type="com.spring.app.follow.domain.FollowEntity" alias="ReportVO"/>
		<typeAlias type="com.spring.app.follow.domain.FollowEntity" alias="FollowEntity"/>
		
		<typeAlias type="com.spring.app.search.domain.SearchBoardVO" alias="SearchBoardVO"/>
		<typeAlias type="com.spring.app.search.domain.SearchMemberVO" alias="SearchMemberVO"/>
		<typeAlias type="com.spring.app.search.domain.SearchCompanyVO" alias="SearchCompanyVO"/>
	</typeAliases>

</configuration>