@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F4F2EE;
}

div#container {
    width: 100vw;
    height: 100vh;
}

div#inner-container {
    display: flex;
    height: 100vh;
    margin: 30px 400px;
}

div#profile-side {
    width: 20%;
}

div#blank {
    width: 5%;
}

div#feed {
    width: 75%;
}

/* ----- 프로필 부분쓰 ----- */

div#profile {
    height: 500px;
    display: flex;
    flex-direction: column;
}

div.myprofile {
    height: 60%;
    border: solid 1px #888;
    border-radius: 10px;
    background-color: whitesmoke;
}

img.myprofile-background {
    display: block;
    width: 100%;
    height: 72px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

img.myprofile-profile {
    margin-top: -12%;
    margin-left: 4%;
    width: 78px;  
    height: 75px; 
    border-radius: 50%;
    border: solid 2px white;
}

div.myprofile-info {
    margin-left: 15px;
}

div.follow {
    height: 20%;
    border: solid 1px #888;
}

img#myprofile-image {
    border-radius: 50%;     
}


/* ----- 피드 글 작성하는 부분 ----- */
div.writeFeed {
    height: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: solid 1px #888;
}

div.feed-wirte {
    display: flex; 
    align-items: center;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

img.feed-profile {
    width: 55px;  
    height: 55px; 
    border-radius: 50%;
}

button.write-button {
    width: 420px;
    height: 50px;
    flex-grow: 1;
    text-align: left;
    border: 1px solid gray;
    border-radius: 40px;
    cursor: pointer;
}

button.write-button:hover {
    background-color: #d3d3d3;  /* 색 나중에 수정하기 */
}

span.write-span {
    margin-left: 16px;
}

strong {
    font-size: 14px;
    color: #888;
}

.feed-category {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap: 200px;
}

.feed-image {
    display: flex;
    align-items: center;
}

.feed-video {
    display: flex;
    align-items: center;
}

img.feed-img {
    width: 30px;
    height: 26px;
}

span.category-name {
    margin-left: 10px;
}

.feed-divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.divider-line {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: #888;
    margin-left: 10px;
    margin-right: 10px;
}

.sort-options {
    position: relative;
    font-size: 14px;
    color: #555;
}

.dropbtn {
    background-color: white;
    color: #333;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    min-width: 100px;
    max-width: 100px;
}

.dropdown {
    width: 100px;
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    max-width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}




/* ----- 피드 글 나오는 부분 ----- */

.feed-post {
	height: auto;
	min-height: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: solid 1px #888;	
    margin-bottom: 20px;
}

.feed-header {
	display: flex;	
	padding-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

.feed-post-name {
	font-weight: bold;
	margin-left: 10px;
	margin-top: 5px;
}

.more-options {
	margin-left: auto;	
	cursor: pointer;
}

.more-options-img {
	width: 40px;
	height: 40px;
	margin-top: -10px;
}

.options-dropdown {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
	left: 125px;
	top: 25px;
    z-index: 10;
}

.options-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-dropdown li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.options-dropdown li:hover {
    background: #f5f5f5;
}

/* 팝업 스타일 */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


/* ----- Modal ----- */
div.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 700px;
    height: 600px;
    border-radius: 10px;
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.modal-profile-info {
	margin-left: 10px;	
	display: flex;
}

.modal-profile-info:hover {
    background-color: #f0f0f0; 
    border-radius: 10px;
}

.modal-profile-img {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal-profile {
	width: 78px;  
    height: 75px; 
    border-radius: 50%;
}

.modal-name {
	display: flex;	
	flex-direction: column;
	margin-right: 15px;
}

#visibilityStatus {
	padding-left: 20px;	
}

.modal-profile-name {
	font-weight: bold;
	font-size: 15pt;
	padding-top: 20px;	
	padding-left: 16px;	
}

.content-bottom {
	margin-top: 30px;
	flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

span.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

span.close:hover,
span.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ql-container {
    border: none !important;
    box-shadow: none !important;
}

.ql-editor {
    border: none;
    box-shadow: none;
    padding: 0; 
    max-height: 300px;
    min-height: 150px;
    overflow: auto;
	flex-grow: 1;
	font-size: 18px;
}

.ql-category {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    padding: 10px;
    border-top: 1px solid #ddd;
}

.ql-category > div:first-child {
    display: flex; 
    gap: 30px; 
    align-items: center; 
    margin-top: 10px;
}

img.modal-img {
    width: 30px;
    height: 26px;
    cursor: pointer;
}

#write-update {
	margin-left: 544px;
    background-color: #4A90E2; 
    color: white; 
    font-size: 14px; 
    font-weight: bold; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

#write-update:hover {
    background-color: #357ABD; 
}
