/* 색상변수 */
:root {
    --searchBox: #f8fafd;
    --searchBox-active: #edf3f8;
}

/* 검색창 */
#searchBox {
    box-sizing: content-box;
    width: 24rem;
    position: relative;

    /* 검색 입력창 */
    #searchInput {
        width: 90%;
        background-color: var(--searchBox-active);

        /* 인풋부분 */
        #SearchInputDiv {
            width: 90%;

            input {
                width: 100%;
                outline: none;
            }
        }
        /* 아이콘 div */
        #SearchIconDiv {
            width: 3rem;
        }
    }

    /* ----------------------------------------------- */
    /* 검색 결과창 */
    #SearchResultBox {
        @apply bg-white w-7/6 pl-5;
        position: relative;
        border: 1px solid #969696;
        bottom: 3rem;
        transition: bottom 0.5s;

        /* 최근 검색된 페이지들 */
        #searchBoxMenuRecentPage {
            list-style: none;

            li {
                @apply hover:bg-gray-200;
                display: inline-block;
                width: 18%;
            }
        }
    }

    /* 숨기는 클래스 */
    .hidden {
        opacity: 0;
    }
}

/* 토글되는 클래스들 */
.searchBoxShadow {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
}

.searchBoxActive {
    border: 2px solid black;
    width: 100% !important;
    transition: width 0.5s;
}

.searchBoxResultActive {
    bottom: 0 !important;
}